/* #RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
  box-sizing: border-box;
}

/* #STYLEGUIDE */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

:root{
  --neutral-light: #ffffff;
  --off-light: #FCFAF6;
  --neutral-dark: #3F444C;
  --b-dark: #684B37;
  --b-light: #AF630E;
  --g-dark: #226B00;
  --g-light: #AAD059;
  --g-lighter: #E0F44E;
  --g-lightest: #D6FE71;
  --highlight-one: #F98F71;
  --highlight-two: #F2C954;
  --highlight-three: #56B9EF;

  --title-font: Avocado, sans-serif;
  --heading-font: 'Noto Serif', serif;
  --body-font: 'Open Sans', sans-serif;
}

body{
  overflow-x: hidden;
}

h1{
  font-size: 3.5em;
  font-weight: 900;
  font-family: var(--heading-font);
}

p, ul, ol{
  font-size: 1.1em;
  line-height: 1.9em;
  margin: 20px 0;
  font-family: var(--body-font);
}

section{
  width: 600px;
  margin: 0 auto;
  padding: 30vh 0; 
}

img, video{
  max-width: 100%;
}

i{
  font-style: italic;
}

p i:hover{
  cursor: default;
  color: var(--g-light);
}

i:hover + .show_info{
  opacity: 1;
  transition: opacity 0.5s;
}

.show_info{
  left: 7vw;
  opacity: 0;
  padding: 15px;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  border-radius: 5px;
  transition: opacity 0.5s;
  color: var(--neutral-light);
  background-color: rgba(108, 207, 89, 1);
}

blockquote p{
  margin: 0;
  padding: 2em;
  font-style: italic;
  color: var(--neutral-light);
  background-color: rgba(108, 207, 89, 0.8);
  border-left: 10px solid rgb(204, 253, 195);
}

blockquote footer{
  padding: 1em 0;
  font-style: italic;
}


/* #HEADER */
header{
  width: 600px;
  margin: 0 auto;
  padding: 10vh 0 30vh 0;
  color: var(--neutral-dark);
}

header h1{
  font-size: 2em;
  text-align: center;
  font-family: var(--heading-font);
}

header h1 + img{
  top: 50px;
  width: 110px;
  padding: 10px;
  display: block;
  position: sticky;
  margin: 20px auto;
  position: -webkit-sticky;
}

/* #MAIN */
.intro{
  background-color:var(--off-light);
}

.part-1{
  background-color:var(--off-light);
  color: var(--neutral-dark);
}

.part-2{
  background-color:var(--neutral-light);
  color: var(--neutral-dark);
}

.part-3{
  background-color:var(--off-light);
  color: var(--neutral-dark);
}

.part-4{
  background-color:var(--neutral-light);
  color: var(--neutral-dark);
}

/* #AVOCADO-INFO */
.avo-info{
  width: 600px;
  overflow-x:auto;
}

.avo-info figure{
  display: block;
}

.avo-info figure li{
  margin: 10px 0;
  line-height: 1em;
  font-size: 1em;
}

.avo-info figure li:nth-child(1){
  margin-top: -10px;
}

.avo-info figcaption{
  font-size: 2em;
  margin-bottom: 10px;
}

.one, .two, .three, .four{
  margin: 20px 0;
}

.one figure, .two figure, .three figure, .four figure{
  height: 600px;
  background-size: 600px;
}

.one figure{
  background-repeat: no-repeat;
  background-image: url("../media/img/avocados/hass-avocado.jpg");

  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.two figure{
  background-repeat: no-repeat;
  background-image: url("../media/img/avocados/fuerte-avocado.jpg");

  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.three figure{
  background-repeat: no-repeat;
  background-image: url("../media/img/avocados/ettinger-avocado.jpg");

  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.four figure{
  background-repeat: no-repeat;
  background-image: url("../media/img/avocados/nabal-avocado.jpg");

  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.one figure:hover{
  background-image: url("../media/img/avocados/hass-avocado-info.jpg");

  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.two figure:hover{
  background-image: url("../media/img/avocados/fuerte-avocado-info.jpg");

  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

/* #RESPONSIVE CODE */
@media (max-width: 600px) {

  /*#HEADER*/
  h1{
    font-size: 2em;
  }

  section{
    margin: 0 auto;
  }
  
  header h1{
    font-size: 3.5em;
  }

  header p{
    width: 100%;
    text-align: left;
  }
  section, header{
    width: 100%;
    padding: 2em;
  }

  /*#MAIN*/
  p i:hover{
    color: var(--neutral-dark);
  }
  i:hover + .show_info{
    opacity: 0;
  }

  /*#AVOCADO*/
  .avo-info{
    width:100%;
  }
  .one figure{
    background-image: url("../media/img/avocados/hass-avocado-info.jpg");
  
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
  }

  .two figure{
    background-image: url("../media/img/avocados/fuerte-avocado-info.jpg");
  
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
  }

  .three figure{
    background-repeat: no-repeat;
    background-image: url("../media/img/avocados/ettinger-avocado.jpg");
  
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
  }
  
  .four figure{
    background-repeat: no-repeat;
    background-image: url("../media/img/avocados/nabal-avocado.jpg");
  
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
  }

  .avo-info figure li:nth-child(1){
    margin-top: -10px;
  }
  .one figure, .two figure, .three figure, .four figure{
    height: 300px;
    background-size: 600px;
  }
}

