/* #RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
  box-sizing: border-box;
}

/* #STYLEGUIDE */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

:root{
  --neutral-light: #ffffff;
  --neutral-dark: #3F444C;
  --b-dark: #684B37;
  --b-light: #AF630E;
  --g-dark: #226B00;
  --g-light: #AAD059;
  --g-lighter: #E0F44E;
  --g-lightest: #D6FE71;
  --highlight-one: #F98F71;
  --highlight-two: #F2C954;
  --highlight-three: #56B9EF;

  --title-font: Avocado, sans-serif;
  --heading-font: 'Noto Serif', serif;
  --body-font: 'Open Sans', sans-serif;

  --padding-light: 2em;
  --padding-heavy: 4em;
}

@font-face {
  font-family: 'Avocado';
  src: url('fonts/avo/avocado.otf'); /* IE9 Compat Modes */
  src: url('fonts/avo/avocado.ttf'), /* IE6-IE8 */
}

h1{
  font-size: 3em;
  font-weight: 900;
  font-family: var(--heading-font);
}

p, ul, ol{
  font-size: 1em;
  line-height: 2em;
  margin: 20px 0;
  font-family: var(--body-font);
}

section{
  width: 600px;
  margin: 90px auto;
}

img{
  max-width: 100%;
}


/* #HEADER */
header{
  margin: 0 auto;
  padding: var(--padding-light);
  /*background-color: var(--g-dark);*/
  color: var(--neutral-dark);
  width: 600px;
}

header img{
  text-align: center;
}

header h1{
  font-size: 5em;
  text-align: center;
  font-family: var(--title-font);
}

#scene > div + div{ 
  left: 10%!important;
  top: 10%!important;
}

/* #MAIN */
.part-1{
  color: var(--neutral-light);
  background-color: var(--g-dark);
}

.part-2{
  color: var(--neutral-dark);
  background-color: var(--g-light);
}

.part-3{
  color: var(--neutral-dark);
  background-color: var(--g-lighter);
}

.part-4{
  color: var(--neutral-dark);
  background-color: var(--g-lightest);
}

/* #AVO-INFO */
.avo-info{
  width: 600px;
  display: flex;
  overflow-x:auto;
  flex-wrap: nowrap;
}

.avo-info figure{
  width: 400px;
  height: 400px;
  display: block;
}

div#one, div#two, div#three, div#four{
  margin: 0 20px 0 0;
}

div#one figure{
  background: url("https://via.placeholder.com/400x400") no-repeat;
}

div#one figure:hover{
  background: url("https://via.placeholder.com/400x400/yellow") no-repeat;
}

div#two figure{
  background: url("https://via.placeholder.com/400x400") no-repeat;
}

div#two figure:hover{
  background: url("https://via.placeholder.com/400x400/yellow") no-repeat;
}

div#three figure{
  background: url("https://via.placeholder.com/400x400") no-repeat;
}

div#three figure:hover{
  background: url("https://via.placeholder.com/400x400/yellow") no-repeat;
}

div#four figure{
  background: url("https://via.placeholder.com/400x400") no-repeat;
}

div#four figure:hover{
  background: url("https://via.placeholder.com/400x400/yellow") no-repeat;
}

/* #RESPONSIVE CODE */
@media (max-width: 600px) {
  h1{
    font-size: 2em;
  }

  section{
    margin: 0 auto;
  }
  
  header h1{
    font-size: 3.5em;
  }

  div#one figure{
    background: url("https://via.placeholder.com/400x400/yellow") no-repeat;
  }
  div#two figure{
    background: url("https://via.placeholder.com/400x400/yellow") no-repeat;
  }
  div#three figure{
    background: url("https://via.placeholder.com/400x400/yellow") no-repeat;
  }
  div#four figure{
    background: url("https://via.placeholder.com/400x400/yellow") no-repeat;
  }

  header p{
    width: 100%;
    text-align: left;
  }
  section, header{
    width: 100%;
    padding: var(--padding-light);
  }
}

